* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "VT323", monospace;
  -webkit-transition: all 1s;
  transition: all 1s;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.btns {
  outline: none;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 24px;
  border: 1px solid #d0d0d0;
}

.btns:hover {
  cursor: pointer;
}

.btns-primary {
  background-color: white;
}

.btns-primary:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #e3b197;
  border-color: #e3b197;
  color: white;
}

.text-one-line {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@-webkit-keyframes rotateAll {
  0% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateAll {
  0% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes RotateAndBreath {
  0% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes RotateAndBreath {
  0% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.app {
  position: relative;
  padding-bottom: 48px;
}

.nav {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-logo {
  width: 120px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  font-size: 2.2rem;
}

.nav-item:hover {
  color: #e3b197;
  cursor: pointer;
}

.nav-item:not(first-child) {
  margin-left: 36px;
}

.nav-item--active {
  color: #e3b197;
  position: relative;
}

.nav-item--active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e3b197;
}

.main {
  margin-top: 40px;
}

.infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infor__avt {
  border-radius: 50%;
  overflow: hidden;
  width: 60%;
  margin-bottom: 12px;
}

.infor__name {
  font-size: 2.6rem;
}

.infor__desc {
  font-size: 1.8rem;
}

.infor__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.infor__socials-item:not(:first-child) {
  margin-left: 16px;
}

.infor__socials-item:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  cursor: pointer;
}

.infor__socials-item:hover i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #e3b197;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.infor__socials i {
  font-size: 2.2rem;
}

.infor__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infor__hashtags-item {
  font-size: 1.6rem;
  padding: 0 6px;
  border: 1px solid black;
  border-radius: 4px;
}

.infor__hashtags-item:not(:first-child) {
  margin-left: 6px;
}

.infor__hashtags-item:hover {
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: black;
  color: white;
  cursor: pointer;
}

.musics {
  height: 358px;
  overflow: auto;
  padding: 4px 12px 12px 12px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.musics::-webkit-scrollbar {
  display: none;
}

.musics__item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 6px 6px 0;
}

.musics__item-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 0 20px;
}

.musics__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.musics__item-img {
  width: 50px;
  height: 50px;
}

.musics__item-title {
  width: 70%;
  margin-left: 30px;
  font-size: 2rem;
  font-weight: 900;
}

.musics__item-album {
  width: 30%;
  margin-left: 12px;
}

.musics__item-decs {
  font-size: 1.8rem;
  margin-left: 12px;
}

.musics__item-time {
  margin-left: auto;
  font-size: 1.8rem;
}

.musics__item.active {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #e4d7d0;
}

.musics__item:first-child {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.musics__item:not(:first-child) {
  border-bottom: 1px solid #ddd;
}

.musics__item:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #e4d7d0;
  cursor: pointer;
}

.musics__item:hover .musics__item-title {
  -webkit-transition: 1s all;
  transition: 1s all;
  letter-spacing: 1px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 25px;
  padding-bottom: 30px;
}

.category__item {
  border-radius: 10px;
  -webkit-box-shadow: 4px 8px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 8px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  overflow: hidden;
  padding-bottom: 4px;
}

.category__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category__item-album {
  font-size: 1.6rem;
  font-weight: 900;
}

.category__item-title {
  font-size: 1.4rem;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.controls .control__item {
  height: 100%;
  border-radius: 50%;
  padding: 10px 11px;
  margin-top: 3px;
  line-height: 1.8rem;
}

.controls .control__item i {
  font-size: 2rem;
}

.controls .control__item i.active {
  color: #e3b197;
}

.controls .control__item:hover {
  color: #e3b197;
  cursor: pointer;
}

.controls .control__item:not(:first-child) {
  margin-left: 10px;
}

.controls .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
}

.controls .process__bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 14px;
}

.controls .process__bar-main {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ddd;
}

.controls .process__bar-main:hover {
  cursor: pointer;
}

.controls .process__bar-playing {
  position: absolute;
  height: 100%;
  background-color: #e3b197;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.controls .song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls .song__section {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .song__section-title {
  font-size: 1.8rem;
  margin-left: 12px;
  letter-spacing: 1px;
}

.controls .song__section-title:hover {
  color: #e3b197;
  letter-spacing: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.controls .song__section-img {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: rotateAll 2s infinite linear;
          animation: rotateAll 2s infinite linear;
}

.theme {
  position: fixed;
  top: 30vh;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 140px;
  border: 1px solid #dfdfdf;
  border-left: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.theme.open-theme {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.theme-title {
  padding: 4px 10px 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
}

.theme-content__primary {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.theme-content__primary .primary-item {
  height: 24px;
  width: 24px;
  background-color: #e3b197;
  border-radius: 4px;
  margin: 2px;
}

.theme-content__modes {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 24px;
  width: 48px;
  background-color: #ddd;
  border-radius: 12px;
}

.theme-content__modes:hover {
  cursor: pointer;
}

.theme-content__modes .modes-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.theme-content__modes img {
  height: 18px;
  width: 18px;
  margin: 0 2px;
}

.theme-content__modes span {
  display: block;
  position: absolute;
  bottom: 0;
  height: 24px;
  width: 24px;
  background-color: #a2a2a2;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.theme-icon {
  position: absolute;
  left: 100%;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 36px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.theme-icon img {
  -webkit-animation: RotateAndBreath 2s infinite linear;
          animation: RotateAndBreath 2s infinite linear;
  height: 24px;
  width: 24px;
}

.theme-icon:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */