* {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "VT323", monospace;
    transition: all 1s;
}

// utils

ul {
    margin-bottom: 0;
    padding-left: 0;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
a,
a:active,
a:visited {
    color: black;
    text-decoration: none;
}

// custom
.hide {
    display: none !important;
}

.btns {
    outline: none;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 24px;
    border: 1px solid rgb(208, 208, 208);
    &:hover {
        cursor: pointer;
    }
}
.btns-primary {
    background-color: white;
    &:hover {
        transition: 0.5s all;
        background-color: #e3b197;
        border-color: #e3b197;
        color: white;
    }
}
.text-one-line {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
