/* Mobile & Tablet */

@media (max-width: 1023px) {
    .hidden-t {
        display: none;
    }
    .category {
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .infor {
        margin-bottom: 16px;
    }
}

// Motherfucking Iphone 5S
@media (max-width: 321px) {
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }
    .musics__item-title {
        margin-left: 12px;
    }
    .musics__item-no {
        margin: 0 8px;
    }
}

/* Mobile Only */

@media (max-width: 739px) {
    .nav {
        justify-content: center;
    }
    .hidden-m {
        display: none;
    }
    .musics__item-title {
        margin-left: 4px;
    }
    .musics__item-no {
        margin: 0 8px;
    }
    .musics__item-body {
        flex-direction: column;
    }
    .musics__item-body {
        flex: 1;
        margin-left: 4px;
        align-items: flex-start;
    }
    .musics__item-time {
        margin-left: 0;
    }
    .controls {
        height: 80px;
    }
    .control {
        justify-content: space-evenly;
    }
    .category {
        padding-bottom: 40px;
        margin-top: 16px;
    }
    .category__item-img {
        height: 140px;
        width: 140px;
        img {
            height: 100%;
        }
    }
    .category__item-title {
        letter-spacing: 0;
    }
}

/* Tablet to PC low resolution */

@media (min-width: 985px) and (max-width: 1200px) {
}

/* > PC low resolution */

@media (min-width: 1024px) and (max-width: 1239px) {
}

/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }
}

// PC
@media (min-width: 1200px) {
}
